.v-button.v-openid-button--google {
  width: 100%;
  font-family: "Roboto",sans-serif;
  text-transform: none;
  background: white;
  transition: background-color .3s, box-shadow .3s;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  color: #313131;
  font-size: 13px;
  font-weight: 500;
}

.v-button.v-openid-button--google:hover {
   box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.v-button.v-openid-button--google svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
