<style>
  <%= raw File.read(File.expand_path('../../assets/css/facebook_login.css', __dir__)  ) %>
</style>
<button class="v-button v-button--button mdc-button mdc-button--raised v-openid-button--facebook" onclick="fbAuth(); return false;">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="v-image v-image--fit-contain v-component">
    <g id="surface1">
      <path style=" stroke:none;fill-rule:nonzero;fill:rgb(9.803922%,46.666667%,95.294118%);fill-opacity:1;" d="M 24.003906 12.003906 C 24.003906 18.628906 18.628906 24.003906 12 24.003906 C 5.375 24.003906 0 18.628906 0 12.003906 C 0 5.375 5.375 0 12 0 C 18.628906 0 24.003906 5.375 24.003906 12.003906 Z M 24.003906 12.003906 "/>
      <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 16.671875 15.472656 L 17.203125 12.003906 L 13.875 12.003906 L 13.875 9.75 C 13.875 8.804688 14.339844 7.875 15.832031 7.875 L 17.347656 7.875 L 17.347656 4.921875 C 17.347656 4.921875 15.972656 4.6875 14.660156 4.6875 C 11.917969 4.6875 10.125 6.347656 10.125 9.359375 L 10.125 12.003906 L 7.078125 12.003906 L 7.078125 15.472656 L 10.125 15.472656 L 10.125 23.859375 C 10.738281 23.953125 11.363281 24.003906 12 24.003906 C 12.640625 24.003906 13.265625 23.953125 13.875 23.859375 L 13.875 15.472656 Z M 16.671875 15.472656 "/>
    </g>
  </svg>
  Sign in with Facebook
</button>
<script>
  function fbAuth(){
    window.location.href = "<%= html_safe(comp.login_uri) %>"
  }
</script>
